:focus::-webkit-input-placeholder { color:transparent; }
:focus::-moz-placeholder { color:transparent; }
:focus::placeholder { color:transparent; }

/** ----1 forma---- **/


#popupform
{
    display: none;
}

#popupform .error {
    color: #c00000;
}

#popupform h2 {
    color: #232323;
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 20px;
    font-family: 'Lora', serif;
    text-align: center;
}

#popupform .comment {
    color: #717171;
    margin-bottom: 20px;
    font-size:14px;
}

#popupform label {
    display: block;
    padding: 16px 0 4px;
}

#popupform .input_text {
    background-color: #fff;
    border: 1px solid #c0c0c0;
    border-radius: 3px;
    color: #555;
    display: block;
    font-size: 16px;
    height: 50px;
    margin: 35px 6px 0 0;
    padding: 1% 1% 1% 9%;
    width: 100%;
}

#popupform .input_text2 {
    background-color: #fff;
    border: 1px solid #c0c0c0;
    border-radius: 3px;
    color: #555;
    display: block;
    font-size: 16px;
    height: 50px;
    margin: 17px 6px 0 0;
    padding: 1% 1% 1% 9%;
    width: 100%;

}


#popupform .input_text:focus {
    border-color:#449b2f;
}

#popupform .input_text2:focus {
    border-color:#449b2f;
}

#popupform .button_red {
border: none;
margin: 30px auto 0 auto;
cursor: pointer;
padding: 0.9rem 2rem;
display: block;
   }

#popupform .button_green:hover {

}

/** ----2 forma----- **/

#popupform2
{
    display: none;
}

#popupform2 .error {
    color: #c00000;
}
#popupform2 h2 {
    color: #232323;
    font-size:1.3rem;
    margin-bottom: 20px;
}
#popupform2 .comment {
    color: #717171;
    margin-bottom: 20px;
    font-size:14px;
}
#popupform2 label {
    display: block;
    padding: 16px 0 4px;
}

#popupform2 .input_text {
    background-color: #fff;
    border: 1px solid #c0c0c0;
    border-radius: 3px;
    color: #555;
    display: block;
    font-size: 16px;
    height: 28px;
    margin: 35px 6px 0 0;
    padding: 1% 1% 1% 9%;
    letter-spacing: 1px;
    width: 88%;

}

#popupform2 .input_text2 {
    background-color: #fff;
    border: 1px solid #c0c0c0;
    border-radius: 3px;
    color: #555;
    display: block;
    font-size: 16px;
    height: 28px;
    margin: 17px 6px 0 0;
    padding: 1% 1% 1% 9%;
    letter-spacing: 1px;
    width: 88%;

}

#popupform2 .input_text:focus {
    border-color:#449b2f;
}

#popupform2 .input_text2:focus {
    border-color:#449b2f;
}

#popupform2 .button_green {
    border: 3px solid #b7b7b7;
   padding: 15px 40px;
   -webkit-border-radius: 30px;
   -moz-border-radius: 30px;
   border-radius: 30px;
    background-color:#18a333;
   color: #fff;
   font-size: 21px;
   text-decoration: none;
   vertical-align: middle;
   letter-spacing: 2px;
    cursor:pointer;
    margin:30px 0 0 10px;
   }

#popupform2 .button_green:hover {
    background-color: #117e26;

}

/** ---3 forma----  **/

#popupform3
{
    display: none;
}

#popupform3 .error {
    color: #c00000;
}

#popupform3 h2 {
    color: #232323;
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 20px;
    font-family: 'Lora', serif;
    text-align: center;
}

#popupform3 .comment {
    color: #717171;
    margin-bottom: 20px;
    font-size:14px;
}

#popupform3 label {
    display: block;
    padding: 16px 0 4px;
}

#popupform3 .input_text {
    background-color: #fff;
    border: 1px solid #c0c0c0;
    border-radius: 3px;
    color: #555;
    display: block;
    font-size: 16px;
    height: 50px;
    margin: 35px 6px 0 0;
    padding: 1% 1% 1% 9%;
    width: 100%;

}

#popupform3 .input_text2 {
    background-color: #fff;
    border: 1px solid #c0c0c0;
    border-radius: 3px;
    color: #555;
    display: block;
    font-size: 16px;
    height: 50px;
    margin: 17px 6px 0 0;
    padding: 1% 1% 1% 9%;
    width: 100%;

}


#popupform3 .input_text:focus {
    border-color:#449b2f;
}

#popupform .input_text2:focus {
    border-color:#449b2f;
}

#popupform3 .button_red {
border: none;
margin: 30px auto 0 auto;
cursor: pointer;
padding: 0.9rem 2rem;
display: block;
   }

#popupform3 .button_green:hover {

}


/** ---4 forma----  **/

#popupform4
{
    display: none;
}

#popupform4 .error {
    color: #c00000;
}

#popupform4 h2 {
    color: #232323;
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 20px;
    font-family: 'Lora', serif;
    text-align: center;
}

#popupform4 .comment {
    color: #717171;
    margin-bottom: 20px;
    font-size:14px;
}

#popupform4 label {
    display: block;
    padding: 16px 0 4px;
}

#popupform4 .input_text {
    background-color: #fff;
    border: 1px solid #c0c0c0;
    border-radius: 3px;
    color: #555;
    display: block;
    font-size: 16px;
    height: 50px;
    margin: 35px 6px 0 0;
    padding: 1% 1% 1% 9%;
    width: 100%;

}

#popupform4 .input_text2 {
    background-color: #fff;
    border: 1px solid #c0c0c0;
    border-radius: 3px;
    color: #555;
    display: block;
    font-size: 16px;
    height: 50px;
    margin: 17px 6px 0 0;
    padding: 1% 1% 1% 9%;
    width: 100%;

}


#popupform4 .input_text:focus {
    border-color:#449b2f;
}

#popupform4 .input_text2:focus {
    border-color:#449b2f;
}

#popupform4 .button_red {
border: none;
margin: 30px auto 0 auto;
cursor: pointer;
padding: 0.9rem 2rem;
display: block;
   }

#popupform4 .button_green:hover {

}
/** ---4 forma zvonok----  **/


#popupform5
{
    display: none;
}

#popupform5 .error {
    color: #c00000;
}
#popupform5 h2 {
    color: #353535;
    font-size:26px;
    margin-bottom: 20px;
}
#popupform5 .comment {
    color: #717171;
    margin-bottom: 20px;
    font-size:14px;
}
#popupform5 label {
    display: block;
    padding: 16px 0 4px;
}
#popupform5 .input_text {
    background-color: #fff;
    border: 1px solid #c0c0c0;
    border-radius: 3px;
    color: #555;
    display: block;
    font-size: 16px;
    height: 28px;
    margin: 35px 6px 0 0;
    padding: 1% 1% 1% 9%;
    letter-spacing: 1px;
    width: 88%;

}

#popupform5 .input_text2 {
    background-color: #fff;
    border: 1px solid #c0c0c0;
    border-radius: 3px;
    color: #555;
    display: block;
    font-size: 16px;
    height: 28px;
    margin: 17px 6px 0 0;
    padding: 1% 1% 1% 9%;
    letter-spacing: 1px;
    width: 88%;

}

#popupform5 .input_text:focus {
    border-color:#449b2f;
}

#popupform5 .input_text2:focus {
    border-color:#449b2f;
}

#popupform5 .button_green {
    border: 3px solid #b7b7b7;
   padding: 15px 40px;
   -webkit-border-radius: 30px;
   -moz-border-radius: 30px;
   border-radius: 30px;
    background-color:#18a333;
   color: #fff;
   font-size: 21px;
   text-decoration: none;
   vertical-align: middle;
   letter-spacing: 2px;
    cursor:pointer;
    margin:30px 0 0 2px;
   }

#popupform5 .button_green:hover {
    background-color: #117e26;
}


/** drugie formu **/

#politika
{
    display: none;
}

#politika p.zagolovok {
    font-size:18px;
    margin:15px 0;
}


#garantiya
{
    display: none;
}

#garantiya p.zagolovok {
    font-size:18px;
    margin:15px 0;
}

#garantiya p {
    margin-bottom:15px;
}


#moreinfo
{
    display: none;
}

#moreinfo h3 {
    font-size:33px;
    color:#A9BF04;
}

#moreinfo h4 {
    font-size:24px;
    border-bottom:1px solid #E5E5E5;
    padding-bottom:5px;
    margin:20px 0;
}

.block_harakteristik {
    width:100%;
    overflow: hidden;
}

.block_harakteristik_left {
    width:70%;
    float:left;
}

.block_harakteristik_right {
    width:30%;
    float:right;
}

.block_harakteristik p {
    margin-bottom:8px;
}


/** ----6 forma---- **/

#popupform6
{
    display: none;
}

#popupform6 .error {
    color: #c00000;
}

#popupform6 h2 {
    color: #232323;
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 20px;
    font-family: 'Lora', serif;
    text-align: center;
}

#popupform6 .comment {
    color: #717171;
    margin-bottom: 20px;
    font-size:14px;
}

#popupform6 label {
    display: block;
    padding: 16px 0 4px;
}

#popupform6 .input_text {
    background-color: #fff;
    border: 1px solid #c0c0c0;
    border-radius: 3px;
    color: #555;
    display: block;
    font-size: 16px;
    height: 50px;
    margin: 35px 6px 0 0;
    padding: 1% 1% 1% 9%;
    width: 100%;

}

#popupform6 .input_text2 {
    background-color: #fff;
    border: 1px solid #c0c0c0;
    border-radius: 3px;
    color: #555;
    display: block;
    font-size: 16px;
    height: 50px;
    margin: 17px 6px 0 0;
    padding: 1% 1% 1% 9%;
    width: 100%;

}


#popupform6 .input_text:focus {
    border-color:#449b2f;
}

#popupform6 .input_text2:focus {
    border-color:#449b2f;
}

#popupform6 .button_red {
border: none;
margin: 30px auto 0 auto;
cursor: pointer;
padding: 0.9rem 2rem;
display: block;
   }

#popupform6 .button_green:hover {

}



/** ----6 forma end---- **/






